<p id="notice"><%= notice %></p>

<h1>Curriculos</h1>

<table>
  <thead>
    <tr>
      <th>Idiomas</th>
      <th>Formacao</th>
      <th>Conhecimentos</th>
      <th>Outros</th>
      <th>Aluno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curriculos.each do |curriculo| %>
      <tr>
        <td><%= curriculo.idiomas %></td>
        <td><%= curriculo.formacao %></td>
        <td><%= curriculo.conhecimentos %></td>
        <td><%= curriculo.outros %></td>
        <td><%= curriculo.aluno_id %></td>
        <td><%= link_to 'Show', curriculo %></td>
        <td><%= link_to 'Edit', edit_curriculo_path(curriculo) %></td>
        <td><%= link_to 'Destroy', curriculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curriculo', new_curriculo_path %>
